@media only screen and (max-width: 1200px) {
    .content {
        padding: 5rem 5rem;
    }

    #headline {
        padding: 5rem;
    }

    /** BUTTON PROPERTIES **/

    .btn-lg {
        font-size: 1rem;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        padding: 0.75rem;
    }


}

@media only screen and (max-width: 1024px) {

    #content {
        margin-top: 4rem;
    }

    /** HEADER PROPERTIES **/
    header {
        display: block;
        padding: 0rem 1rem;
    }

    .header-logo {
        height: 4rem;
    }

    #headline {
        height: calc(100vh - 4rem);
    }

    nav ul {
        flex-direction: column;
        align-items: flex-end;
        gap: 1rem;
    }

    #nav {
        display: none;
        padding: 1rem 0rem;
    }

    #nav button {
        display: none;
    }

    #mobile-nav {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
    }

    #mobile-nav-icon {
        width: 1.5rem;
    }

    /** FOOTER PROPERTIES **/
    #footer-top {
        justify-content: center;
        padding: 2rem 1rem;
    }

    #footer-bottom {
        padding: 1rem;
    }

    #footer-right {
        display: none;
    }
}

@media only screen and (max-width: 768px) {

    .headline {
        padding: 3rem;
    }

    .content {
        display: flex;
        justify-content: center;
        height: 100%;
        padding: 3rem;
        box-sizing: border-box;
    }

    /** HOME PAGE **/
    #headline {
        padding: 3rem;
    }

    #message-from-us {
        flex-direction: column-reverse;
        height: calc(100vh - 4rem);
    }

    #view-menu {
        flex-direction: column;
        height: calc(100vh - 4rem);
    }


    /** MENU PAGE **/
    #menu-section {
        padding: 3rem;
        gap: 3rem;
    }

    #grid-container {
        grid-template-columns: auto;
    }

    .menu-container-grid {
        grid-template-columns: auto;
    }

    /** CONTACT PAGE **/
    #contact-section {
        flex-direction: column-reverse;
        height: calc(100vh - 4rem);
    }

    /** FOOTER **/
    #footer-left div:first-child {
        display: none;
    }
}

@media only screen and (max-width: 425px) {
    .content {
        padding: 1.5rem;
    }

    .headline {
        padding: 1.5rem;
    }

    #headline {
        padding: 1.5rem;
    }

    #menu-section {
        padding: 1.5rem;
        gap: 1.5rem;
    }

    .menu-container {
        padding: 1.5rem;
    }

    #about-section {
        padding: 1.5rem;
    }

    #footer-left {
        flex-direction: column;
    }
}